Nama : Ananda Putra Jun Askara

Kelas : Ragnarok

Universitas : Bina Nusantara

TUGAS 1 MARET SESI PAGI DAN SORE

In [1]:
print("Hello World!")

Hello World!

In [2]:
print('hello')
print()
print('This is also a string')

hello

This is also a string

In [4]:
s = 'Tokyo'
print(s)
print(type(s))
print(len(s))

Tokyo
<class 'str'>
5

In [5]:
s = 'Hello World'

print(s)
print()

print(s[0])
print

print(s[1])

Hello World

H
e

In [7]:
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [9]:
print("Hello_" * 3)
print("-" * 10)

Hello_Hello_Hello_
----------

In [10]:
s = " New World"

print(s[1])
print(s[7:11])
print(s[-6:-1])

print("Wor" in s)

N
rld
 Worl
True

In [12]:
s = "Hello World"
print(s.upper())
print(s.lower())

HELLO WORLD
hello world

In [13]:
name = "Raymond"
age = 23
married = True
print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))
print("My namwe is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Raymond, my age is 23, and it is True that I am married
My namwe is Raymond, my age is 23, and it is True that I am married

In [14]:
print(3+1)

print(3-1)

print(2*2)

print(3/2)

4
2
4
1.5

In [15]:
2**3

8

In [17]:
2 + 10 * 15 + 3

155

In [18]:
(2+10) * (15+3)

216

In [19]:
a = 5

a+a

10

In [20]:
a = 10

a

10

In [22]:
a = 42
b = 32.40
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [28]:
my_list = [1,2,3]

my_list =['A string',23,100.232,'o']
len(my_list)

4

In [12]:
my_list = ['one','two','three',4,5]

l = [1, 2.3, ['a', 'b'], 'Tokyo']
l.append(3.1)
print(1)

1

In [13]:
l = [1, 2, 3]
l.extend([4, 5, 6])
print(1)

1

In [14]:
lst = list(range(1))

print(lst)
print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2])

print("every third element, starting at index 1:", lst[1::3])

[0]
elements from index 4 to 7: []
alternate elements, starting at index 0: [0]
every third element, starting at index 1: []

In [17]:
my_dict['key1']= 125
my_dict
{'key1': 123, 'key2': 'value2'}

my_dict['key1'] = my_dict['key1'] - 125
my_dict['key1']

NameError: ignored

In [30]:
my_dict['key1'] -=125
my_dict['key1']

NameError: ignored

In [21]:
d = {}

d["animal"] = 'Cat'

In [24]:
x = set()

x.add(1)
x

{1}

In [26]:
x.add(2)

x
{1, 2}

x.add(1)

x

{1, 2}

In [28]:
l = [1,1,2,2,3,4,5,6,1,1]

set(l)

{1, 2, 3, 4, 5, 6}